<html>
<head>
	<title>What's For Lunch?</title>
	<link rel="StyleSheet" type="text/css" href="/style.css">
	<script> 
	var rowNum = 0;
	function pageLoad() {
		getLocation();
		nextRow();
	}
	//Set location for searching
	function getLocation() {
	    if (navigator.geolocation) 
	    {
	        navigator.geolocation.getCurrentPosition(updatePosition, showError);
	    } else { 
	        //"Geolocation is not supported by this browser.";
	    	document.getElementById("location").style.display = "block";
	    }
	}
	function updatePosition(position) {	
	    document.getElementById("lat").value = position.coords.latitude;
	    document.getElementById("long").value = position.coords.longitude;
	}
	function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            alert( "User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            alert( "Location information is unavailable.");
            break;
        case error.TIMEOUT:
            alert( "The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            alert( "An unknown error occurred.");
            break;
    }
}
	//Show the first suggested result.  When loading for the first time, default search for whatever is closest
	function nextRow() {
		//Make sure to hide the other rows
		var domElems = document.getElementsByClassName("resultRow");
		for (var i = 0; i < domElems.length; i++) 
		{
			domElems[i].style.display = "none";
		}

		//Show the next row
		var rowName = "row" + rowNum.toString();
		document.getElementById(rowName).style.display = "block";
		if(rowNum < domElems.length - 1)
		{
			rowNum += 1;
		}
	}
	
	function hideAllSelectionDivs(){
		//Hide the food selection divs
		var domElems = document.getElementsByClassName("selectionDiv");
		for (var i = 0; i < domElems.length; i++) 
		{
			domElems[i].style.display = "none";
		}
		//Clear the food selection checkboxes
		domElems = document.getElementsByClassName("selectionInput");
		for (var i = 0; i < domElems.length; i++) 
		{
			domElems[i].value = false;
		}
	}
	//Unhide a particular food selection div
	function showSpecific(){
		hideAllSelectionDivs();
		document.getElementById("specificSearch").style.display = "block";
		document.getElementById("specificInput").value = true;
	};
	function showWhiteList(){
		hideAllSelectionDivs();
		document.getElementById("whiteList").style.display = "block";
		document.getElementById("whiteListInput").value = true;		
	};
	function showBlackList(){
		hideAllSelectionDivs();
		document.getElementById("blackList").style.display = "block";
		document.getElementById("blackListInput").value = true;	
	};
	</script>
</head>
<body onload="pageLoad()">
	<div class="formDiv">
	<h1>What's for Lunch?</h1>
	<img src=".\images\Yelp\iOSWeb\yelp_powered_btn_light.png"/>
	<hr>
	<table>
	<% @rownum = 0 %>
	<% @retval.businesses.each do |biz| %>
	<tr width="100%" style="display:none" id="row<%= @rownum %>" class="resultRow">
		<td width="30%"> </td>
		<td> <a target="_blank" title="See this business on Yelp!" href="<%= biz.url %>"> <%= biz.name %> </a> </td>
		<td> <a target="_blank" title="See the map!" href="https://maps.google.com?q=<%= biz.location.address[0]%>"> 
		<%= biz.location.address[0] %></a> </td>
		<td> </td>

	</tr>
	<% @rownum += 1 %>
	<% end %>
		<tr width="100%" style="display:none" id="row<%= @rownum %>" class="resultRow">
			<td colspan="4">Try a new search!</td>
		</tr>
	</table>
	<button onClick="nextRow()"> Next </button>
	<hr>

	<table>
		<tr>
			<td><a class="showLink" href="#" onclick="showSpecific();">Know exactly what you want?</a></td>
			<td><a class="showLink" href="#" onclick="showWhiteList();">Have a general idea of what you want?</a></td>
			<td><a class="showLink" href="#" onclick="showBlackList();">Know what you don't want?</a></td>
		</tr>
	</table>
	<form action="/" method="GET">	    
	    <div class="selectionDiv" id="specificSearch" style="display:none">
	    	<input class="selectionInput"id="specificInput" name="specificInput" type="hidden" value="false"/>
	    	What would you like? <input type="text" name="specific"><br/>
	    	Search Where? <input type="text" name="where"><br/>
		</div>

		<div class="selectionDiv" id="whiteList" style="display:none	">
			<input class="selectionInput" id="whiteListInput" name="whiteListInput" type="hidden" value="false"/>
		    <h3>Check anything that strikes your fancy!</h3>
		    <% @food.each do |food| %>
		    	<input type="checkbox" name="arr[]" value="<%= food %>"> <%= food %> 
		    <% end %>
		    <br>
		</div>

		<div class="selectionDiv" id="blackList" style="display:none">
			<input class="selectionInput" id="blackListInput" name="blackListInput" type="hidden" value="false"/>
			<h3>Just check off what you don't want to eat!</h3>
		    <% @food.each do |food| %>
		    	<input type="checkbox" name="arr[]" value="<%= food %>"> <%= food %> 
		    <% end %>
		    <br>
		</div>

	    <input id="lat" name="lat" type="hidden" value="" />
	    <input id="long" name="long" type="hidden" value="" />
	    <input type="submit" value="Tell Me What To Eat!">
	</form>
	</div>
</body>
</html>